$colors: (
  background1: #121637,
  background2: #24516b,
  primary: #ffb72c,
  highlight: #60a6d7,
  text: #d8f2f3,
  error: #E4152E
);

@function color-get($color) {
  @return map-get($colors, $color);
}
