@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 200;
  src: local('Lato'), url(fonts/lato-light.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'), url(fonts/lato-regular.woff) format('woff');
}

@font-face {
  font-family: 'Ailerons';
  font-style: normal;
  font-weight: 400;
  src: local('Ailerons'), url(fonts/ailerons.woff) format('woff');
}
