@font-face {
  font-family: 'Jaapokki';
  font-style: normal;
  font-weight: 400;
  src: local('Jaapokki'), url(fonts/jaapokki.woff) format('woff');
}

@font-face {
  font-family: 'Ailerons';
  font-style: normal;
  font-weight: 400;
  src: local('Ailerons'), url(fonts/ailerons.woff) format('woff');
}
