@mixin absolute(
  $top: 0,
  $left: 0,
  $right: null,
  $bottom: null,
  $width: 100%,
  $height: 100%
) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  width: $width;
  height: $height;
}

@mixin fixed(
  $top: 0,
  $left: 0,
  $right: null,
  $bottom: null,
  $width: 100%,
  $height: 100%
) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  width: $width;
  height: $height;
}

@mixin pseudo-element($which) {
  &::#{$which} {
    content: '';

    @include dry(pseudo-element) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @content;
  }
}

@mixin after() {
  @include pseudo-element(after) {
    @content;
  }
}

@mixin before() {
  @include pseudo-element(before) {
    @content;
  }
}

@mixin state($name, $self: false) {
  @if $self {
    &.-#{$name} {
      @content;
    }
  }
  @else {
    @at-root .-#{$name}#{&} {
      @content;
    }
  }
}

@mixin nested-state($name) {
  @at-root .-#{$name} & {
    @content;
  }
}

@mixin variant($name, $self: false) {
  @if $self {
    &.-#{$name} {
      @content;
    }
  }
  @else {
    @at-root .-#{$name}#{&} {
      @content;
    }
  }
}
