<widget
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:gap="http://phonegap.com/ns/1.0"
  id="io.noflash"
  version="0.0.1">
  <name>No Flash</name>
  <description>Track your summoner spells.</description>
  <author email="ngryman@gmail.com" href="http://ngryman.sh">
    Nicolas Gryman
  </author>
  <content src="index.html" />
  <access origin="*"></access>

  <plugin name="cordova-plugin-headercolor" />
  <plugin name="cordova-plugin-insomnia" />
  <plugin name="cordova-plugin-statusbar" />
  <plugin name="cordova-plugin-whitelist" />

  <preference name="orientation" value="portrait" />
  <preference name="HeaderColor" value="#1f3f54" />
  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="StatusBarBackgroundColor" value="#1f3f54" />

  <platform name="ios" />

  <platform name="android">
    <icon src="icons/launcher-ldpi.png" qualifier="ldpi" />
    <icon src="icons/launcher-mdpi.png" qualifier="mdpi" />
    <icon src="icons/launcher-hdpi.png" qualifier="hdpi" />
    <icon src="icons/launcher-xhdpi.png" qualifier="xhdpi" />
    <icon src="icons/launcher-xxhdpi.png" qualifier="xxhdpi" />
    <icon src="icons/launcher-xxhdpi.png" qualifier="xxxhdpi" />
  </platform>
</widget>
