<widget id="io.noflash" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>No Flash</name>
  <description>Track your summoner spells.</description>
  <author email="ngryman@gmail.com" href="http://ngryman.sh">
    Nicolas Gryman
  </author>
  <content src="index.html" />
  <access origin="*"></access>
</widget>
