<widget
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:gap="http://phonegap.com/ns/1.0"
  id="io.noflash"
  version="0.0.1">
  <name>No Flash</name>
  <description>Track your summoner spells.</description>
  <author email="ngryman@gmail.com" href="http://ngryman.sh">
    Nicolas Gryman
  </author>
  <content src="index.html" />
  <access origin="*"></access>

  <platform name="ios" />
  <platform name="android" />

  <plugin name="cordova-plugin-whitelist" />
  <plugin name="cordova-plugin-headercolor" />
  <plugin name="cordova-plugin-statusbar" />

  <preference name="orientation" value="portrait" />
  <preference name="HeaderColor" value="#24516b" />
  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="StatusBarBackgroundColor" value="#24516b" />
</widget>
