.welcome-page {
  display: flex;
  flex-direction: column;
  padding: 0 1.4rem;
  background:
    linear-gradient(-45deg, color-get(background1), rgba(color-get(background2), .8)),
    url(images/bg.png);

  > .welcome-header {
    flex: 2;
  }

  > .welcome-form {
    flex: 1;
  }
}
