.ennemy-meta {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;

  > .role {
    margin-top: 1rem;
    margin-bottom: .3rem;
    font-size: 1.6rem;
    line-height: 1;
    color: #C6C6C6;
  }

  > .champion {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #717171;
  }
}
