.error-pane {
  @include fixed($height: 3.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(#E4152E, .8);
  color: rgba(#F58593, .8);
  font-size: 1.2rem;
  font-weight: 400;
}
