.spell-item {
  @include state(cooldown) {
    position: relative;
  }

  > .icon {
    width: 100%;
    height: 100%;
    stroke: color-get(highlight);
    stroke-width: 2;
    fill: none;
    opacity: 1;

    @include state(cooldown) {
      transform: scale(.6);
      stroke: color-get(primary);
    }
  }

  > .cooldown {
    @include absolute($top: 50%, $left: 50%, $width: 140%, $height: 140%);
    transform: translate(-50%, -50%);
    fill: none;

    .progress {
      stroke: color-get(primary);
      stroke-width: 6;
    }

    .progress-bg {
      stroke: color-get(highlight);
      stroke-opacity: .3;
      stroke-width: 1;
    }
  }
}
