.welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > .title {
    margin-top: 0;
    font-size: 6.4rem;
    color: #fff;

    > em {
      font-style: normal;
      color: color-get(primary);
    }
  }

  > .tagline {
    margin: 1rem;
    font-family: ailerons, sans-serif;
    font-size: 1.6rem;
    color: desaturate(lighten(color-get(background2), 40), 20);
  }
}
